<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <header th:fragment="headerFragment">
       <div class="lnb">
           <div class="logo">
                <a th:href="@{bdList}" style="text-align: center"> <span></span></a>
           </div>
           
           <div class="useInfo">
               <span>min</span>
           </div>
           
           <ul class="nav">
               <th:block>
<               <th:block th:if="${session.mbLevel}>3"> 
                   <li class="on"><a class="menu1" th:href="@{mbList(page=1)}">회원정보</a></li>
               </th:block>
               <th:block>
                   <li class="on"><a class="menu1" th:href="@{bdList}">자유 게시판</a></li>
               </th:block>
               <th:block>
                   <li class="on"><a class="menu1" th:href="@{gyList}"> 갤러리 </a></li>
               </th:block>
           </ul>
       </div>
    </header>
</html>